@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
/* top head */
.topHead {
  background-color: rgba(255, 192, 31, 1);
}
.leftContent {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.rightContent {
  margin: auto 0;
  display: flex;
  gap: 25px;
}
/* navigation Bar */

.navSection {
  box-shadow: 0 2px 20px rgba(159, 159, 159, 0.25);
}
.navigations a {
  margin-right: 55px;
  color: gray;
  text-decoration: none;
}
.navigations a:hover {
  color: rgb(0, 0, 0);
  box-shadow: 0 0 20px yellow;
  border-radius: 30px;
  transform: scale(1.5);
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}
.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navSection {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.burger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}
.logo img {
  padding-top: 22px;
}
.languages {
  padding: 30px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 192, 31, 1);
  transition: 0.4s;
}
.breadCrumps {
  display: flex;
  gap: 10px;
}

/* Techniques */

.techniques {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#categoriesH1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.texCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.texCard {
  flex: 1;

  border-radius: 8px;
  box-shadow: 0 0 25px rgba(149, 149, 149, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: calc(50% - 10px);
}

.texCard img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

#price {
  margin-top: auto;
  text-align: right;
  color: rgba(255, 192, 31, 1);
}

#moreTechniques,
#rentButton {
  margin-top: auto;
  background-color: transparent;
  border: 1px solid;
  color: #000000;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#moreTechniques {
  border: none;
  background-color: rgba(255, 192, 31, 1);
  color: white;
}

#rentButton:hover {
  background-color: rgba(255, 192, 31, 1);
}
.texCard:hover {
  box-shadow: 0 0 20px rgba(255, 192, 31, 1);

  transition: 250ms;
}

#year {
  color: rgba(176, 173, 173, 1);
}
#name {
  color: rgba(104, 104, 104, 1);
}

/* footer */
.footer {
  background: rgb(255, 243, 254);
  background: linear-gradient(
    273deg,
    rgba(255, 243, 254, 1) 10%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 243, 254, 1) 90%
  );
  padding-top: 40px;
}
.pages {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-top: 20px;
}
.pages a {
  text-decoration: none;
  color: rgba(53, 53, 53, 1);
  font-weight: 500;
}
.pages a:hover {
  color: rgb(151, 149, 149);
}
.locationContact {
  padding-top: 6px;
}
.iconsWorkTime {
  padding-top: 7px;
}
.logo {
  padding-top: 25px;
}
.socialIcons {
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.siteInfo {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  font-size: 12px;
}
#Jed {
  font-weight: 900;
}
.smallLogo {
  display: none;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
}
/* TEchniques Cards */
.btn-groups {
  border: 1px solid;
  border-radius: 20px;
  margin: 40px;
  display: flex;
  justify-content: space-around;
}

.btn-groups > button {
  background: none;
  font-weight: 600;
  border: none;
  font-size: 12px;
  padding: 10px 0;

  width: 100%;
}

.btn-groups > button:hover {
  background-color: rgba(255, 192, 31, 1);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}


@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }
  .navigations,
  .languages {
    display: none;
  }
  .logo {
    margin-left: 20px;
  }
  .burger-menu {
    display: flex;
  }

  /* Teknikler */
  .rightContentTex {
    position: absolute;
    bottom: -260px;
    left: 0;
    z-index: 1;
    color: white;
    padding: 30px;
  }
  #texnikH1 {
    color: white;
  }
  #tested {
    background: white;
    border: none;
    height: 45px;
  }
  .texCard {
    min-width: 100%;
    padding-top: 150px;
  }
  .texCards {
    padding-top: 308px;
  }
  #moreTechniques {
    display: none;
  }

  /* Footer */

  .largelogo {
    display: none;
  }
  .smallLogo {
    display: block;
  }
  .pages {
    width: 50%;
  }

  .locationContact {
    width: 50%;
  }
  .footerContainer {
    flex-wrap: wrap;
  }
  .smallLogo img {
    padding: 0 35%;
  }
  .inconsWorkTime p {
    padding: 0 20px;
  }

  .locationContact {
    display: inline-block;
  }
  .socialIcons {
    padding: 0 32%;
  }
  /* techniques */

  .btn-groups {
    margin: 20px;
    flex-direction: column;
    align-items: center;
 border: none;
  }

  .btn-groups > button {
    margin: 5px 0;
    width: 100%;
 
}
#sliderBar{
  display: none;
}
}
