@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto";
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
/* top head */
.topHead {
  background-color: rgba(255, 192, 31, 1);
}
.leftContent {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.rightContent {
  margin: auto 0;
  display: flex;
  gap: 25px;
}
/* navigation Bar */

.navSection {
  box-shadow: 0 2px 20px rgba(159, 159, 159, 0.25);
}
.navigations a {
  margin-right: 55px;
  color: gray;
  text-decoration: none;
}
.navigations a:hover {
  color: rgb(0, 0, 0);
  box-shadow: 0 0 20px yellow;
  border-radius: 30px;
  transform: scale(1.5);
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}
.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navSection {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.burger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 192, 31, 1);
  transition: 0.4s;
}
/* first Content */
.firstContent {
  background-image: url(../assets/Page1-main/firstContentBg.png);
  padding-top: 80px;
}
.firstRight {
  border: 20px solid white;
  box-shadow: 0 0 20px rgba(149, 149, 149, 0.25);
  width: 100%;
  margin-left: 50px;
}
.firstRight img {
  width: 100%;
}
#h1 {
  font-size: 45px;
  font-weight: 900;
}
.firstLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: rgba(89, 108, 114, 1);
}
#bottomContent {
  font-weight: 900;
  font-size: 30px;
  color: rgba(89, 108, 114, 1);
}
#firstContentButton {
  border-radius: 20px;
  border: 1px solid;
  width: 100px;
  height: 30px;
  background: transparent;
}
.card {
  width: 265px;
  height: 340px;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(121, 121, 121, 0.25);
  background-color: rgba(255, 255, 255, 1);
}
.card:hover {
  box-shadow: 0 0 20px rgba(255, 192, 31, 1);
  transform: scale(1.1);
  transition: 250ms;
}
.cardsTop,
.cardsBottom {
  display: flex;
  justify-content: space-between;
}
.card img {
  width: 100%;
}
.cards {
  background-image: url(../assets/Page1-main/cardsBg.png);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  .navigations,
  .languages {
    display: none;
  }
  .logo {
    margin-left: 20px;
  }
  .burger-menu {
    display: flex;
  }
  .leftContent {
    margin-left: 20px;
  }
  .rightContent {
    margin-right: 20px;
  }
  .firstContent {
    background-image: url(../assets/Page1-main/firstContentImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 597px;
    padding: 20px;
    position: relative;
  }
  .firstLeft {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
  }
  #h1 {
    font-size: 35px;
  }
  .firstRight {
    display: none;
  }
  #firstContentButton {
    background-color: white;
  }
}
