@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
/* top head */
.topHead {
  background-color: rgba(255, 192, 31, 1);
}
.leftContent {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.rightContent {
  margin: auto 0;
  display: flex;
  gap: 25px;
}
/* navigation Bar */

.navSection {
  box-shadow: 0 2px 20px rgba(159, 159, 159, 0.25);
}
.navigations a {
  margin-right: 55px;
  color: gray;
  text-decoration: none;
}
.navigations a:hover {
  color: rgb(0, 0, 0);
  box-shadow: 0 0 20px yellow;
  border-radius: 30px;
  transform: scale(1.5);
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}
.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navSection {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.burger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 192, 31, 1);
  transition: 0.4s;
}
/* first Content */
.firstContent {
  background-image: url(../assets/Page1-main/firstContentBg.png);
  padding-top: 80px;
}
.firstRight {
  border: 20px solid white;
  box-shadow: 0 0 20px rgba(149, 149, 149, 0.25);
  width: 100%;
  margin-left: 50px;
}
.firstRight img {
  width: 100%;
}
#h1 {
  font-size: 45px;
  font-weight: 900;
}
.firstLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: rgba(89, 108, 114, 1);
}
#bottomContent {
  font-weight: 900;
  font-size: 30px;
  color: rgba(89, 108, 114, 1);
}
#firstContentButton {
  border-radius: 20px;
  border: 1px solid;
  width: 100px;
  height: 30px;
  background: transparent;
}
.card {
  width: 265px;
  height: 340px;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(121, 121, 121, 0.25);
  background-color: rgba(255, 255, 255, 1);
}
.card:hover {
  box-shadow: 0 0 20px rgba(255, 192, 31, 1);

  transition: 250ms;
}
.cardsTop,
.cardsBottom {
  display: flex;
  justify-content: space-between;
}
.card img {
  width: 100%;
}
.cards {
  background-image: url(../assets/Page1-main/cardsBg.png);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 50px;
}
/* tested Techniques */

.leftSec img {
  width: 100%;
  height: 480px;
  border: 15px solid white;
  box-shadow: 0 0 20px rgba(149, 149, 149, 0.25);
}
.leftSec {
  padding-top: 350px;
  width: 350px;
}
.rightSec {
  width: 750px;
  height: 450px;
  padding-top: 100px;
}
.rightSec img {
  width: 100%;
  height: 100%;
  border: 15px solid white;
  box-shadow: 0 0 20px rgba(149, 149, 149, 0.25);
  object-fit: cover;
}
.rightContentTex {
  display: flex;
  flex-direction: column;
}
#tested {
  border-radius: 20px;
  border: 1px solid;
  background: transparent;
  width: 130px;
  height: 40px;
}
#categoriesH1 {
  font-weight: 900;
  font-size: 30px;
  color: rgba(89, 108, 114, 1);
}
#texnikH1 {
  color: rgba(89, 108, 114, 1);
  font-weight: 900;
  font-size: 50px;
}
/* Techniques */

.techniques {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#categoriesH1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.texCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.texCard {
  flex: 1;

  border-radius: 8px;
  box-shadow: 0 0 25px rgba(149, 149, 149, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: calc(50% - 10px);
}

.texCard img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

#price {
  margin-top: auto;
  text-align: right;
  color: rgba(255, 192, 31, 1);
}

#moreTechniques,
#rentButton {
  margin-top: auto;
  background-color: transparent;
  border: 1px solid;
  color: #000000;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#moreTechniques {
  border: none;
  background-color: rgba(255, 192, 31, 1);
  color: white;
}

#rentButton:hover {
  background-color: rgba(255, 192, 31, 1);
}
.texCard:hover {
  box-shadow: 0 0 20px rgba(255, 192, 31, 1);

  transition: 250ms;
}

#year {
  color: rgba(176, 173, 173, 1);
}
#name {
  color: rgba(104, 104, 104, 1);
}
/* marks */

.marks {
  padding-top: 60px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.markimg {
  padding-top: 20px;
  display: flex;

  justify-content: space-evenly;
}
.markimg img {
  object-fit: contain;
}
#markH1 {
  font-weight: 900;
  font-size: 40px;
  color: rgba(89, 108, 114, 1);
}
/* News */
.news {
  padding-top: 70px;
}
.newsContent {
  padding: 20px;
}
.newsCard {
  width: 300px;
  box-shadow: 0 0 10px rgba(149, 149, 149, 0.25);
}
.newsCard img {
  width: 100%;
}
.newsCard:hover {
  box-shadow: 0 0 20px rgba(255, 192, 31, 1);

  transition: 250ms;
}
.newsCards {
  display: flex;
  gap: 15px;
  padding-top: 20px;
}
#newsBtn {
  background-color: rgba(255, 192, 31, 1);

  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  width: 500px;
  display: none;
}
#newsH1 {
  font-weight: 900;
  font-size: 40px;
  color: rgba(89, 108, 114, 1);
}
/* contact */
.contact {
  padding-top: 150px;
}
.contactSection {
  display: flex;
  background-color: rgba(239, 239, 239, 1);
  position: relative;
  width: 100%;
}
.contactRight img {
  width: 50%;
  position: absolute;
  top: -129px;
  right: 20px;
}
.contactLeft {
  width: 50%;
  text-align: left;
  padding: 20px;
}
#contactH1 {
  text-align: left;
  font-weight: 900;
  font-size: 40px;
  color: rgba(89, 108, 114, 1);
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputs input {
  border-radius: 20px;
  border: 1px solid;
  background: transparent;
  height: 30px;
  padding-left: 10px;
}
.contactLeft {
  font-size: 14px;
  width: 100%;
}
#contentP {
  width: 40%;
}
#sendBtn {
  width: 29%;
  margin-top: 15px;
  border-radius: 20px;
  border: none;
  padding: 5px;
  background-color: rgba(255, 192, 31, 1);
}
#sendBtn:hover {
  background-color: rgb(221, 166, 28);
}
/* why Us */
.whyUs {
  display: flex;
  padding-top: 80px;
  gap: 20px;
}
.whyUsLeft {
  padding-top: 100px;
}
.whyUsRight img {
  border: 15px solid white;
  box-shadow: 0 0 20px rgba(149, 149, 149, 0.25);
}
#whyUsH1 {
  text-align: left;
  font-weight: 900;
  font-size: 40px;
  color: rgba(89, 108, 114, 1);
}
.whyUsLeft p {
  color: rgba(53, 53, 53, 1);
}
/* footer */
.footer {
  background: rgb(255, 243, 254);
  background: linear-gradient(
    273deg,
    rgba(255, 243, 254, 1) 10%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 243, 254, 1) 90%
  );
  padding-top: 40px;
}
.pages {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-top: 20px;
}
.pages a {
  text-decoration: none;
  color: rgba(53, 53, 53, 1);
  font-weight: 500;
}
.pages a:hover {
  color: rgb(151, 149, 149);
}
.locationContact {
  padding-top: 6px;
}
.iconsWorkTime {
  padding-top: 7px;
}
.logo {
  padding-top: 25px;
}
.socialIcons {
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.siteInfo {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  font-size: 12px;
}
#Jed {
  font-weight: 900;
}
.smallLogo {
  display: none;
}
.footerContainer{
  display: flex;
 justify-content: space-between;
}
@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }
  .navigations,
  .languages {
    display: none;
  }
  .logo {
    margin-left: 20px;
  }
  .burger-menu {
    display: flex;
  }
  /* İlk içerik */
  .leftContent {
    margin-left: 20px;
  }
  .rightContent {
    margin-right: 20px;
  }
  .firstContent {
    background-image: url(../assets/Page1-main/firstContentImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 597px;
    padding: 20px;
    position: relative;
  }
  .firstLeft {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
  }
  #h1 {
    font-size: 35px;
  }
  .firstRight {
    display: none;
  }
  #firstContentButton {
    background-color: white;
  }
  /* Kartlar */
  .card img {
    display: none;
  }
  .card {
    width: 100%;
    height: 91px;
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .cardsTop,
  .cardsBottom {
    flex-wrap: wrap;
  }
  /* Teknik Bölümü */
  #bottomContent {
    text-align: center;
    padding-top: 20px;
  }
  .leftSec {
    display: none;
  }
  .rightSec img {
    border: none;
    height: 590px;
  }
  .rightSec {
    position: relative;
  }
  /* Teknikler */
  .rightContentTex {
    position: absolute;
    bottom: -260px;
    left: 0;
    z-index: 1;
    color: white;
    padding: 30px;
  }
  #texnikH1 {
    color: white;
  }
  #tested {
    background: white;
    border: none;
    height: 45px;
  }
  .texCard {
    min-width: 100%;
    padding-top: 150px;
  }
  .texCards {
    padding-top: 308px;
  }
  #moreTechniques {
    display: none;
  }
  /* İşaretler */
  .markimg img {
    width: 85px;
  }
  .markimg img:nth-child(n + 4) {
    display: none;
  }
  /* Haberler */
  .newsCards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .newsCard {
    width: 100%;
  }
  #newsBtn {
    display: block;
    margin-top: 40px;
    width: 100%;
  }
  #newsH1 {
    text-align: center;
  }
  /* İletişim */
  .contactRight {
    display: none;
  }
  #contactH1 {
    font-size: 55px;
    text-align: center;
  }
  #contentP,
  #sendBtn,
  .inputs input {
    width: 100%;
  }
  .inputs input {
    margin: 7px 0;
  }
  .inputs {
    gap: 1px;
  }
  /* why us */
  .whyUs {
    background: url(../assets/Page1-main/wyhUsimg.png) no-repeat;
  }
  .whyUsLeft {
    font-size: 12px;
    padding-top: 40px;
  }

  .whyUsRight img {
    display: none;
  }
  #whyUsH1 {
    color: white;
    font-size: 35px;
    text-align: center;
  }
  .whyUs p {
    color: white;
    text-align: justify;
    padding: 0 15px;
  }

  /* Footer */

  .largelogo {
    display: none;
  }
  .smallLogo {
    display: block;
  
  }
  .pages{
    width: 50%;
  }

  .locationContact{
    width: 50%;
  }
.footerContainer{
  flex-wrap: wrap;
}
.smallLogo img{
  padding: 0 35%;
}
.inconsWorkTime p{
  padding: 0 20px;
}

.locationContact {
  display: inline-block; 
}
.socialIcons{
  padding: 0 32%;
}
 
}
