@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto";
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
}
/* top head */
.topHead {
  background-color: rgba(255, 192, 31, 1);
}
.leftContent {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.rightContent {
  margin: auto 0;
  display: flex;
  gap: 25px;
}
/* navigation Bar */

.navSection {
  box-shadow: 0 2px 20px rgba(159, 159, 159, 0.25);
}
.navigations a {
  margin-right: 55px;
  color: gray;
  text-decoration: none;
}
.navigations a:hover {
  color: rgb(0, 0, 0);
  box-shadow: 0 0 20px yellow;
  border-radius: 30px;
  transform: scale(1.5);
  transition: 500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}
.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navSection {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.burger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 20px;
  display: none;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 192, 31, 1);
  transition: 0.4s;
}
/* first Content */
.firstContent {
  background-image: url(../assets/Page1-main/firstContentBg.png);
  padding-top: 80px;
}
.firstRight {
  border: 20px solid white;
  box-shadow: 0 0 20px rgba(149, 149, 149, 0.25);
  width: 100%;
  margin-left: 50px;
}
.firstRight img {
  width: 100%;
}
#h1 {
  font-size: 45px;
  font-weight: 900;
}
.firstLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: rgba(89, 108, 114, 1);
}
#bottomContent {
  font-weight: 900;
  font-size: 30px;
  color: rgba(89, 108, 114, 1);
}
#firstContentButton {
  border-radius: 20px;
  border: 1px solid;
  width: 100px;
  height: 30px;
  background: transparent;
}
.card {
  width: 265px;
  height: 340px;
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(121, 121, 121, 0.25);
  background-color: rgba(255, 255, 255, 1);
}
.card:hover {
  box-shadow: 0 0 20px rgba(255, 192, 31, 1);
  transform: scale(1.1);
  transition: 250ms;
}
.cardsTop,
.cardsBottom {
  display: flex;
  justify-content: space-between;
}
.card img {
  width: 100%;
}
.cards {
  background-image: url(../assets/Page1-main/cardsBg.png);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 50px;
}
/* tested Techniques */

.leftSec img {
  width: 100%;
  height: 480px;
  border: 15px solid white;
  box-shadow: 0 0 20px rgba(149, 149, 149, 0.25);
}
.leftSec {
  padding-top: 350px;
  width: 350px;
}
.rightSec {
  width: 750px;
  height: 370px;
  padding-top: 100px;
}
.rightSec img {
  width: 100%;
  height: 100%;
  border: 15px solid white;
  box-shadow: 0 0 20px rgba(149, 149, 149, 0.25);
}
.rightContentTex {
  display: flex;
  flex-direction: column;
}
#tested {
  border-radius: 20px;
  border: 1px solid;
  background: transparent;
  width: 130px;
  height: 40px;
}
#categoriesH1 {
  font-weight: 900;
  font-size: 30px;
  color: rgba(89, 108, 114, 1);
 
}
#texnikH1 {
  color: rgba(89, 108, 114, 1);
  font-weight: 900;
  font-size: 50px;
}
/* Techniques */

.techniques {

  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#categoriesH1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.texCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.texCard {
  flex: 1;

  border-radius: 8px;
  box-shadow: 0 0 25px rgba(149, 149, 149, 0.25);
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: calc(50% - 10px);
}

.texCard img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

h3,
p {
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  color: #666666;
  margin-bottom: 5px;
}

#price {
  margin-top: auto;
  text-align: right;
  color: rgba(255, 192, 31, 1);
}

button {
  margin-top: auto;
  background-color: transparent;
  border: 1px solid;
  color: #000000;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#moreTechniques {
  border: none;
  background-color: rgba(255, 192, 31, 1);
  color: white;
}

button:hover {
  background-color: rgba(255, 192, 31, 1);
}
.texCard:hover {
  box-shadow: 0 0 20px rgba(255, 192, 31, 1);
  transform: scale(1.1);
  transition: 250ms;
}

#year {
  color: rgba(176, 173, 173, 1);
}
#name {
  color: rgba(104, 104, 104, 1);
}
@media screen and (max-width: 768px) {
  .navigations,
  .languages {
    display: none;
  }
  .logo {
    margin-left: 20px;
  }
  .burger-menu {
    display: flex;
  }
  .leftContent {
    margin-left: 20px;
  }
  .rightContent {
    margin-right: 20px;
  }
  .firstContent {
    background-image: url(../assets/Page1-main/firstContentImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 597px;
    padding: 20px;
    position: relative;
  }
  .firstLeft {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
  }
  #h1 {
    font-size: 35px;
  }
  .firstRight {
    display: none;
  }
  #firstContentButton {
    background-color: white;
  }
  .card img {
    display: none;
  }
  .card {
    width: 100%;
    height: 91px;
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .cardsTop,
  .cardsBottom {
    flex-wrap: wrap;
  }

  #bottomContent {
    text-align: center;
    padding-top: 20px;
  }
  .leftSec {
    display: none;
  }
  .rightSec img {
    border: none;
    height: 590px;
  }
  .rightSec {
    position: relative;
  }

  .rightContentTex {
    position: absolute;
    bottom: -180px;
    left: 0;
    z-index: 1;
    color: white;
    padding: 30px;
  }
  #texnikH1 {
    color: white;
  }
  #tested {
    background: white;
    border: none;
    height: 45px;
  }
  .texCard {
    min-width: 100%; 
    padding-top: 150px;
  }
  #moreTechniques{
    display: none;
  }
}
